Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
MaxEmptyLinesToKeep: 1
ColumnLimit: 120
PenaltyBreakAssignment: 2
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterFunction: true
    AfterStruct: true
    BeforeElse: true
    BeforeWhile: true
    SplitEmptyFunction: false
    SplitEmptyNamespace: false
    SplitEmptyRecord: false
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
